body {
	margin: 0px;
	padding: 0px;
}

.app {
	height: 500px;
	width: 500px;
	background: #dfdfdf;
	position: relative;
	margin: 50px auto;
	border: 3px solid gold;
}

.box {
	background: red;
	position: absolute;
}