body{
    background-image: url("../images/background-img-block.png");
    background-repeat: repeat;
}
.wrapper{
    width: 1440px;
    margin: 0px auto;
    /* background-image: url("../images/background-img-block.png");
    background-repeat: repeat; */
}

/* .outerwrapper{
    background-image: url("../images/background-img-block.png");
    background-repeat: repeat;
} */

header{
    width: 980px;
    margin: 0px auto;
}
.header-wrapper{
    width: 980px;
    margin: 0px auto;
}







.header-top{
    height: 67px;
    float: left;
    width: 980px;
    margin-bottom: 23px;
}

.header-motto{
    float: left;
}

.header-motto h2{
    display: inline-block;
    margin-top: 25px;
}
.header-motto p{
    display: inline-block;
    padding-left: 16px;
    font-size: 14px;
    color: #cc003e;
    font-family: 'Open Sans', sans-serif;
    margin-top: 30px;
}

.cart-menu{
    float: right;
    margin-top: 26px;
}

.cart-menu ul li{
    float: left;
    list-style-type: none;
    padding-left:16px;
    font-family: arial;
    font-size: 12px;
}

.cart-menu ul li a:hover{
    color: #d01850;
}

.cart-menu ul li a{
    text-decoration: none;
    color: black;
}
.cart-img{
    padding-right: 9px;
}

.line-separator{
    width: 980px;
    height: 1px;
    background-image: url("../images/header-line-separator.png");
    background-repeat: repeat-x;
    display: inline-block;
}







.login{
    margin-left: 168px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.login span{
    font-weight: bold;
    padding-right: 2px;
    float: left;
    padding-top: 11px;
}

.login input{
    margin-left: 14px;
    border: 1px solid #dadada;
}

.login input[type="email"], .login input[type="password"]{
    padding: 10px 0px 10px 10px;
    float: left;
}

.login input[type="password"]{
    border: none;
    float: left;
}
.password-and-forget{
    float: left;
    background:white;
    border: 1px solid #dadada;
    padding-right: 10px;
    margin-left: 12px;
}

.password-and-forget a{
    display: inline-block;
    padding-top: 10px ;
}

.login button{
    margin-left: 13px;
    height: 30px;
    widows: 142px;
    background: #d0184f;
    color: white;
    border: none;
    padding: 9px 19px;
}

.login .submit{
    height: 30px;
    width: 71px;
    background: #d0184f;
    border: none;
    color: white;
    padding: 9px 18px;
}

.login a{
    text-decoration: none;
    color: #d0184f;
}






nav{
    float: left;
    padding-top: 22px;
    padding-bottom: 18px;
    width: 980px;
}

nav ul li{
    list-style-type: none;
    float: left;
    font-size: 22px;
    padding-right: 40px;
    color: #5a5a5a;
}

.searchbar{
    float: right;
    background: white;
}

.searchbar-inner input{
    border: none;
}

.searchbar-inner{
    border: 1px solid #dadada;
    padding: 6px;
}



.banner{
    background-image: url("../images/banner-image.png");
    background-repeat: no-repeat;
    width: 1440px;
    height: 500px;
    border: 1px solid white;
    border-left: none;
    border-right: none;
    float: left;
    position: relative;
}

.banner-header{
    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    height: 74px;
    width: 676px;
    background: #d11951;
    color: white;
    text-align: center;
    line-height: 74px;
    position: absolute;
    bottom: 154px;
    left: 230px;
}

.banner-para{
    font-size: 12px;
    font-family: Arial;
    height: 47px;
    width:548px;
    color: white;
    background: #d11951;
    line-height: 20px;
    text-align: left;
    position: absolute;
    left: 230px;
    bottom: 87px;
    padding-left:22px;
    padding-top: 18px;
}

.slider-buttons{
    width: 140px;
    position: absolute;
    left: 655px;
    bottom: -15px;
}

.slider-button-wrapper{
    height: 24px;
    width: 24px;
    border:3px solid white;
    border-radius: 100%;
    float: left;
    background: white;
}
.slider-button{
    height: 18px;
    width: 18px;
    border-radius: 100%;
    border: 3px solid crimson;
    line-height: 18px;
    text-align: center;
    color: crimson;
    float: left;
}

.slider-button-wrapper1, .slider-button-wrapper2, .slider-button-wrapper3{
    margin-right: 3px;
}


.slider-button:hover{
    color: white;
    background-color: crimson;
}


main{
    width: 980px;
    margin: 0px auto;
}

.below-banner{
padding-top: 48px;
float: left;
width: 980px;
}

/* .clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
} */

.laptop-tablet-image{
    padding-left: 26px;
    width: 452px;
    float: left;
}

.below-banner-info{
    padding-left: 53px;
    float: left;
    padding-top: 68px;
    width: 448px;
    text-align: center;
}

.below-banner-header{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: crimson;
}

.below-banner-header span{
    font-family: 'Montserrat Subrayada', sans-serif;
}

.below-banner-details{
    padding-top: 22px;
    font-size: 13px;
    line-height: 21px;
}

.below-banner-details span{
    font-weight: bold;
    font-family: Arial;
    font-size: 14px;
    display: inline-block;
}






.featured-items{
    float: left;
    padding-top: 38px;
    padding-bottom: 43px;
}

.featured-items-header h2{
    font-family: 'Source Sans Pro', sans-serif;
    color: #aeaeae;
    display: inline-block;
    float: left;
    padding-bottom: 19px;
}

.featured-items-header p{
    font-family: Aerial;
    font-size: 12px;
    color: #333333;
    display: inline-block;
    float: right;
    padding-top: 7px;
}

.featured-items-header p img{
    padding-right: 8px;
}

.featured-items-list{
    float: left;
    width: 100%;
    padding-top: 34px;
}

.featured-item1{
    background-image: url("../images/featured-items1.png");
    background-repeat: no-repeat;
    width: 226px;
    height: 340px;
    float: left;
    position: relative;
    padding-right: 25px;
}

.featured-item-span1{
    position: absolute;
    display: block;
    bottom: 43px;
    left: 47px;
    color: #7d7d7d;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}

.featured-item-span2{
    position: absolute;
    display: block;
    bottom: 14px;
    left: 84px;
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    color: crimson;
}

.featured-item2{
    background-image: url("../images/featured-item2.png");
    background-repeat: no-repeat;
    width: 226px;
    height: 340px;
    float: left;
    position: relative;
    padding-right: 25px;
}

.featured-item3{
    background-image: url("../images/featured-item3.png");
    background-repeat: no-repeat;
    width: 226px;
    height: 340px;
    float: left;
    position: relative;
    padding-right: 25px;
}

.featured-item4{
    background-image: url("../images/featured-item4.png");
    background-repeat: no-repeat;
    width: 226px;
    height: 340px;
    float: left;
    position: relative;
}

.layer1{
    float: left;
    padding-bottom: 25px;
}

.layer2{
    float: left;
    width: 100%;
    padding-top: 25px;
}

.featured-item5{
    background-image: url("../images/featured-item5.png");
    background-repeat: no-repeat;
    width: 226px;
    height: 340px;
    float: left;
    position: relative;
    padding-right: 25px;
}

.featured-item6{
    background-image: url("../images/featured-item6.png");
    background-repeat: no-repeat;
    width: 226px;
    height: 340px;
    float: left;
    position: relative;
    padding-right: 25px;
}

.featured-item7{
    background-image: url("../images/featured-item7.png");
    background-repeat: no-repeat;
    width: 226px;
    height: 340px;
    float: left;
    position: relative;
    padding-right: 25px;
}

.featured-item8{
    background-image: url("../images/featured-item8.png");
    background-repeat: no-repeat;
    width: 226px;
    height: 340px;
    float: left;
    position: relative;
}





.special-offers{
    width: 100%;
    float: left;
    padding-bottom: 43px;
}

.special-offers h2{
    font-family: 'Source Sans Pro', sans-serif;
    color: #aeaeae;
    display: inline-block;
    float: left;
    padding-bottom: 14px;
}


.special-offers-image{
    padding-top: 34px;
    width: 100%;
    float: left;
}

.special-offers-image1, .special-offers-image2{
    padding-right: 25px;
    float: left;
}





footer{
    height: 398px;
    background: #333333;
    width: 1440px;
    margin: 0px auto;
    float: left;
}

.footer-wrapper{
    width: 980px;
    margin: 0px auto;
}

.footer-content{
    padding-top: 45px;
}

.footer-navigation{
    float: left;
    color: white;
    width: 136px;
}

.footer-navigation h2{
    padding-bottom: 13px;
    float: left;
}

.footer-navigation .footer-content-line{
    background-image: url("../images/footer-content-line-separator.png");
    background-repeat: repeat-x;
    height: 2px;
    padding-bottom: 31px;
    display: inline-block;
    width: 136px;
}

.footer-navigation ul{
    list-style: none;
    line-height: 26px;
    padding-left: 17px;
    font-size: 12px;
}

.footer-navigation li::before {
    content: "\2022";
    color: #ff2d6d;
    font-weight: bold;
    display: inline-block; 
    width: 16px;
    margin-left: -16px;
}

.footer-latest-tweets{
    float: left;
    color: white;
    padding-left: 35px;
    width: 329px;
}

.footer-latest-tweets h2{
    float: left;
    padding-bottom: 13px;
}

.footer-latest-tweets .footer-content-line{
    background-image: url("../images/footer-content-line-separator.png");
    background-repeat: repeat-x;
    height: 2px;
    display: inline-block;
    width: 329px;
    padding-bottom: 31px;
}

.footer-twitter-list{
    float: left;
}

.footer-twitter-list ul{
float: left;
}

.footer-twitter-list ul li{
    line-height: 18px;
    padding-bottom: 25px;
    list-style-type: none;
}

.footer-twitter-list ul li img{
    float: left;
}
.footer-twitter-list ul li p{
    display: inline-block;
    float: left;
    width: 295px;
    padding-left: 13px;
    font-size: 12px;
}

.footer-twitter-list p span, .footer-twitter-list p span a{
    color: #d52d5e;
}

.latest-tweets-padding{
    padding-bottom: 25px;
}

.footer-newsletter{
    float: left;
    color: white;
    padding-left: 35px;
    width: 230px;
}

.footer-newsletter h2{
    float: left;
    padding-bottom: 13px;
}

.footer-newsletter .footer-content-line{
    background-image: url("../images/footer-content-line-separator.png");
    background-repeat: repeat-x;
    height: 2px;
    display: inline-block;
    width: 230px;
    padding-bottom: 31px;
}

.footer-newsletter p{
    font-size: 12px;
    line-height: 18px;
    font-family: Arial;
    padding-bottom: 24px;
}

.newsletter-search{
    width: 230px;
    background: white;
    height: 28px;
}

.newsletter-search .newsletter-image{
    float: left;
    display: inline-block;
    padding-top: 5px;
    padding-left: 10px;
}

.newsletter-search .newsletter-searchform input{
    display: inline-block;
    padding: 6px 0px 6px 10px;
    width: 197px;
    border: none;
}

/* .newsletter-search .newsletter-searchform input:focus{
    border-style: none;
} */

.footer-aboutus{
    float: left;
    color: white;
    padding-left: 35px;
    width: 180px;
}

.footer-aboutus h2{
    float: left;
    padding-bottom: 13px;
}

.footer-aboutus .footer-content-line{
    background-image: url("../images/footer-content-line-separator.png");
    background-repeat: repeat-x;
    height: 2px;
    display: inline-block;
    width: 230px;
    padding-bottom: 31px;
}

.footer-aboutus p{
    font-size: 12px;
    line-height: 18px;
    font-family: Arial;
}

.aboutus-social-media{
    float: left;
    display: block;
}

.aboutus-social-media ul{
    padding-top: 24px;
}

.aboutus-social-media ul li{
    list-style-type: none;
    display: inline-block;
    float: left;
    padding-right: 9px;
}

.payment{
    display: block;
    float: left;
    padding-top: 25px;
}

.payment ul li{
    list-style-type: none;
    float: left;
    padding-right: 9px;
    display: inline-block;
}